# This is an example .env settings file
# To use it for the app, set all the values properly and rename it to ".env"
# Django settings
DEBUG=True
# SET THE SECURE SECRET KEY FOR THE PRODUCTION! THIS IS THE DEVELOPMENT LOCAL KEY ONLY!
SECRET_KEY=django-insecure-set-a-secure-key-on-the-production

ALLOWED_HOSTS=localhost,127.0.0.1

# DataBase (set proper values, the values below are for a local development only!)
DB_NAME=mydatabase
DB_USER=myuser
DB_PASSWORD=mypassword
DB_HOST=localhost
DB_PORT=5432
