asgiref==3.9.0
attrs==25.4.0
dj-database-url==3.1.2
Django==5.2.4
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==25.2
django-phonenumber-field==8.1.0
djangorestframework==3.16.0
drf-spectacular==0.29.0
drf-spectacular-sidecar==2026.3.1
gunicorn==25.1.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
packaging==26.0
phonenumbers==9.0.8
psycopg2-binary==2.9.10
python-dotenv==1.2.2
PyYAML==6.0.3
referencing==0.37.0
rest-framework-simplejwt==0.0.2
rpds-py==0.30.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
djangorestframework-simplejwt
Pillow
