.objectsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid white;
  font-size: 16px;
  width: 90%;
  margin-top: 10px;
}

p {
  flex: 1;
  margin-left: 5px;
}

.editButton {
  height: 40px;
  width: 60px;
  font-size: 18px;
  transition: 0.15s;
}

.deleteButton {
  height: 40px;
  background-color: rgb(172, 0, 0);
  width: 80px;
}

.deleteButton:hover {
  background-color: rgb(122, 0, 0);
  width: 80px;
}

.green {
  color: rgb(0, 151, 106);
  font-weight: bold;
}