.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  justify-content: center; 
  align-items: flex-start;
  flex: 1;
  margin-bottom: auto;
}

.container > * {
  flex: 0 0 350px;
}

.loadMoreBtn {
  margin: 20px auto;
  width: auto;
  padding: 10px 40px;
  text-align: center;
}