.container {
  padding: 10px;
  background-color: #ffffff18;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.11);
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 420px;
  max-width: 450px;
  transition: 0.1s;
  border-radius: 10px;
}

.container:hover {
  cursor: pointer;
  border-radius: 15px;
  background-color: rgba(0, 112, 78, 0.466);
}

.header {
  font-size: 22px;
  height: 50px;
}

.imageWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}

.imageWrapper img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.footer {
  margin-top: auto;
  color: rgb(199, 199, 199);
}

.price {
  color: rgb(0, 151, 106);
  font-weight: bold;
  font-size: 22px;
}

.starsContainer,
.starsBackground,
.starsForeground {
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.starsContainer {
  display: flex;
  align-items: center; /* vertically center the count with stars */
  gap: 6px; /* space between stars and count */
}

.starsWrapper {
  position: relative;
  display: inline-block;
  font-size: 18px; /* adjust as needed */
  line-height: 1;
}

.starsBackground {
  color: #ccc;
}

.starsForeground {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(0, 199, 139);
}

.reviewsCount {
  font-size: 0.8rem;
  color: #ccc;
}