ul {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  font-size: 20px;
  margin-top: 15px;
  border-bottom: 1px solid white;
  list-style: none;
  min-width: 50%;
}

.profileImg {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 200px;
  border: solid white 2px;
  margin: 10px auto;
  display: block;
}